<div class="container">
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-success boton mb-3" (click)="abrirDialogoCrearInventario()">Crear Inventario</button>
      <br>
      <label for="selectInventario">Seleccione un inventario:</label>
      <select id="selectInventario" class="form-control" [(ngModel)]="inventarioSeleccionado" (change)="cargarPagina(0)">
        <option value="" selected>Seleccione un inventario</option>
        <option *ngFor="let inventario of inventarios" [ngValue]="inventario">{{ inventario.nombre }}</option>
      </select>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Fecha</th>
              <th>Prod.</th>
              <th>Cantidad</th>
              <th></th>
              <th>Revisado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of inventarioProductos">
              <td>{{ item.inventario.fechaCreacion }}</td>
              <td>{{ item.producto.name }}</td>
              <td>
                <input type="number" class="form-control border border-dark" [(ngModel)]="item.producto.cantidad" (change)="actualizarCantidad(item.producto.id,item.producto.cantidad)">
              </td>
              <td>
                <div class="btn-group d-flex">
                  <button class=" btn-primary btnico" (click)="opneInfoDialog(item.producto.id)">
                    <mat-icon>info</mat-icon>
                  </button>
                </div>
              </td>
              <td>
                <div class="d-flex justify-content-center">
                  <input type="checkbox" class="checkbox" [checked]="item.revisado" (change)="actualizarRevisadoL(item)" />
                </div>
              </td>
            </tr>
            <tr *ngIf="inventarioProductos.length === 0">
              <td colspan="5">No hay productos en este inventario.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  

  <div class="row mt-4">
    <div class="col-md-12">
      <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="paginaActual === 0">
            <a class="page-link" (click)="cargarPagina(0)" aria-label="First">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li class="page-item" [class.disabled]="paginaActual === 0">
            <a class="page-link" (click)="cargarPagina(paginaActual - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" [class.active]="pagina === paginaActual" *ngFor="let pagina of totalPages">
            <a class="page-link" (click)="cargarPagina(pagina)"
              *ngIf="pagina >= paginaActual - 5 && pagina <= paginaActual + 5">{{ pagina + 1 }}</a>
          </li>
          <li class="page-item" [class.disabled]="paginaActual === totalPages.length - 1">
            <a class="page-link" (click)="cargarPagina(paginaActual + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item" [class.disabled]="paginaActual === totalPages.length - 1">
            <a class="page-link" (click)="cargarPagina(totalPages.length - 1)" aria-label="Last">
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
