.btnico {
  background-color: #ddd0c8;
  border: none;
  color: #323232;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btnico:hover {
  background-color: #ddd0c8;
  color: #932f2f;
}

.boton {
  color: #ddd0c8;
  background-color: #323232;
}
