.barcode-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black;
  }
  
  .barcode-image {
    max-width: 100%;
    max-height: 100%;
  }
    