.dialog-content {
    background-color: #DDD0C8;
    padding: 16px;
  }
  
  .dialog-actions {
    justify-content: flex-end;
    padding: 16px;
    background-color: #DDD0C8;
  }
  
  .btn-cancel {
    color: #ffffff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-save {
    color: #ffffff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  