body{
    background-color: #DDD0C8;
}

.bg-color {
    background-color: #323232;
}

  
.text-color {
    color: white;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
