<div fxLayout="row" fxLayoutAlign="center">
  <div class="provider-card-container" fxLayout="row wrap" fxLayoutGap="16px">
    <div class="provider-card" *ngFor="let provider of providers">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>person</mat-icon>
          </div>
          <mat-card-title>{{ provider.name }}</mat-card-title>
          <mat-card-subtitle>{{ provider.address }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="provider-info"><strong><mat-icon class="mr-1">contact_phone</mat-icon>Teléfono:</strong> {{ provider.phone }}</p>
          <p class="provider-info"><strong><mat-icon class="mr-1">email</mat-icon>Email:</strong> {{ provider.email }}</p>
          <p class="provider-info"><strong><mat-icon class="mr-1">public</mat-icon>Sitio web:</strong> {{ provider.website }}</p>
          <p class="provider-info"><strong><mat-icon class="mr-1">visibility</mat-icon>Observaciones:</strong> {{ provider.observations }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn-primary btnico" (click)="editProvider(provider)">
            <mat-icon>edit</mat-icon>
            Editar
          </button>
          <button class="btn-danger btnico" (click)="deleteprovider(provider.id)">
            <mat-icon>delete_forever</mat-icon>
            Eliminar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
