.provider-card-container {
  justify-content: center;
  margin: 0 -8px;
}

.provider-card {
  flex: 1 1 100%;
  max-width: 400px;
  margin: 8px;
  background-color: #ddd0c8;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.provider-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mat-card-header {
  display: flex;
  align-items: center;
}

.mat-card-avatar {
  margin-right: 8px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card-title {
  font-size: 20px;
}

.mat-card-subtitle {
  font-size: 16px;
  color: #888;
}

.mat-card-actions {
  justify-content: flex-end;
}

.btnico {
  background-color: white;
  border: none;
  color: #323232;
  padding: 12px 16px;
  font-size: 22px;
  cursor: pointer;
}

.btnico:hover {
  background-color: whitesmoke;
  color: #932f2f;
}

.boton {
  color: #ddd0c8;
  background-color: #323232;
}
